html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
 
#map {
    height: 100vh;
    width: 100%;
}

#hero {
    height: 100vh;
}

#formdb, #map_panel, #data_visualized {
    padding-top: 100px;
    padding-bottom: 100px;
}

#display_route {
    display: none;
}